/home/zemoso/assignments/Assignment_(DefaultinitialAssignment)/out/**
/home/zemoso/assignments/Assignment_(DefaultinitialAssignment)/Assignment_(DefaultinitialAssignment).iml
/home/zemoso/assignments/Java_assignment-1/out/**
/home/zemoso/assignments/Java_assignment-2/out/**
/home/zemoso/assignments/Java_assignment-3/out/**
/home/zemoso/assignments/Java_assignment-4/out/**
/home/zemoso/assignments/java_assignment_day2/out/**
/home/zemoso/assignments/java_assignment_day3/out/**
/home/zemoso/assignments/java_assignment_day4/out/**
/home/zemoso/assignments/java_assignment_day5/out/**
/home/zemoso/assignments/java_assignment_day7/out/**
/home/zemoso/assignments/java_assignment_day8/out/**
/home/zemoso/assignments/Java_assignment-1/Java_assignment-1.iml
/home/zemoso/assignments/Java_assignment-2/Java_assignment-2.iml
/home/zemoso/assignments/Java_assignment-3/Java_assignment-3.iml
/home/zemoso/assignments/Java_assignment-4/Java_assignment-4.iml
/home/zemoso/assignments/java_assignment_day2/java_assignment_day2.iml
/home/zemoso/assignments/java_assignment_day3/java_assignment_day3.iml
/home/zemoso/assignments/java_assignment_day4/java_assignment_day4.iml
/home/zemoso/assignments/java_assignment_day5/java_assignment_day5.iml
/home/zemoso/assignments/java_assignment_day7/java_assignment_day7.iml
/home/zemoso/assignments/java_assignment_day8/java_assignment_day8.iml
